<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JAMZ</title>
    <style>
        h1 {
          text-align: center;
        }
    </style>
</head>
<body style="background-color:rgb(147, 197, 255);">
    <h1>MUFFIN VIBES</h1>
    <img src="https://media4.giphy.com/media/H1MLSXznpkxn7P0GUx/200.gif" width="300" height="400">
    <iframe width="645" height="400" src="https://www.youtube.com/embed/htp0LZBArM8?autoplay=1">
    </iframe>
    <img src="https://media4.giphy.com/media/H1MLSXznpkxn7P0GUx/200.gif" width="300" height="400">
    <br>
    <h2>{{ muffins }}</h2>
    
</body>
</html>